@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --font-title: 'Josefin Sans', sans-serif;

    --font-text: 'Quicksand', sans-serif;

    --color-1: #FFFFFF;
    --color-2: #1f1f1f;

    --color-back: #000000;

    --color-portfolio: #13aff0;

    --color-mail: #ea4335;

    --color-linkedin: #0a66c2;

    --color-gradient-1:linear-gradient(to right, #000000, #533b6b);

    --color-gradient-2:linear-gradient(to right, #2c2038, #000000);

    --color-gradient-3:linear-gradient(to right, #1f1f1f, #000000);
}

*{
    margin: 0;
    padding: 0;
    color: var(--color-1);
    

}

body {
    background-color: var(--color-back);
    margin:  auto;
    padding: 15px;
    justify-content: center;
    max-width: 720px;    
}

header {
    background-image: url("../profile/banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 50px 0 25px 0;
    
}

header p{
    padding-top: 15px;
    font-family: var(--font-title);
    /* text-transform: uppercase; */
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

h1{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    padding: 25px 0 0 0;
}

h2{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    padding: .9rem 0 .7rem 0;
    background: var(--color-gradient-1);
}

div{
    padding-bottom: 25px;
}

h3{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    padding: 15px 10px 10px 10px;
    text-transform: uppercase;
    background: var(--color-gradient-2);
}

section{
    margin: 0 auto;
    padding:0 0 50px 0;
}



.img_container{
    text-align: center;
}

.profile_pic{
    border-radius: 50%;
    max-width: 20%;
    margin: auto;
    display: block;
}


li {
    padding: 7px 9px;
    text-align: left;
    font-family: var(--font-text);
    font-size: 1.1rem;
    list-style-type: none;
}

li:nth-child(odd) {
    background: var(--color-gradient-3);
    padding: auto;
    list-style-position: inside;
    
}

li:nth-child(even) {
    padding: auto;
    list-style-position: inside;
    
}


.portfolio_image{
    max-width: 100%;
}



.flex-container{
    display: flex;
    width: 100%;
    
}

.flex-child{
    width: 100%;
    height:100%;
    
}


.inline-h{
    display: inline;   
}

footer {
    background-image: url("../profile/banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    /* padding: 50px 0 25px 0; */
    
}




.bottom{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    /* padding: 50% 0 50% 0; */
    padding: 15% 0;
}


.color-link{
    filter: invert(100%);
    width: 1.25rem;
    align-self: center;
    padding-top: 3px;
    
}


.mail a, .portfolio a, .linkedin a{
    text-decoration: none;
}



li.portfolio a { 
    text-decoration: none; 
    color: var(--color-portfolio);
    position: absolute;
    transform: translateX(.5rem);
}


li.mail a { 
    text-decoration: none; 
    color: var(--color-mail);
    position: absolute;
    transform: translateX(.5rem);
    
}


li.linkedin a { 
    text-decoration: none; 
    color: var(--color-linkedin);
    position: absolute;
    transform: translateX(.5rem);
}


.arrowup { 
    filter: invert(100%);
    width: 5%;
    text-decoration: none; 
    color: var(--color-linkedin);
    
    margin: 0 auto;
    
}

footer h4 { 
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    /* padding: 50% 0 50% 0; */
    padding: 15% 0;

    filter: invert(100%);
    width: 5%;
    text-decoration: none; 
    color: var(--color-linkedin);
    
    margin: 0 auto;
    
}

.rights{
    text-align: center;
    color: #533b6b;
    font-family: var(--font-text);
    font-size: .75rem;
    font-weight: 700;
}