@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --font-title: 'Josefin Sans', sans-serif;
    --font-text: 'Quicksand', sans-serif;

    --color-selection: #533b6b;

    --color-1: #FFFFFF;
    --color-2: #1f1f1f;

    --color-back: #000000;
    --color-rights: #2e1b43;

    --color-portfolio: #13aff0;
    --color-mail: #ea4335;
    --color-linkedin: #0a66c2;

    --color-gradient-1:linear-gradient(to right, #000000, #533b6b);
    --color-gradient-2:linear-gradient(to right, #2c2038, #000000);
    --color-gradient-3:linear-gradient(to right, #1f1f1f, #000000);

}

*{
    margin: 0;
    padding: 0;
    color: var(--color-1);
}

*::selection{
    background: var(--color-selection);
}

body {
    background-color: var(--color-back);
    margin:  auto;
    padding: 15px;
    justify-content: center;
    max-width: 720px;    
}

header {
    background-image: url("../profile/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3% auto 0 auto;
    padding: 50px 0 25px 0;
    border-radius: 3px;
}

header p{
    padding: .7rem 0 0 0;
    font-family: var(--font-text);
    /* text-transform: uppercase; */
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-shadow: var(--color-back) 0 0 3px;
    font-weight: 700;
}

h1{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.35rem;
    text-align: center;
    padding: 12px 0 0 0;
    text-shadow: var(--color-back) 0 0 3px;
}

h2{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    padding: .9rem 0 .7rem 0;
    background: var(--color-gradient-1);
    border-radius: 3px;
}

div{
    padding-bottom: 25px;
}

h3{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    padding: 15px 10px 10px 10px;
    text-transform: uppercase;
    background: var(--color-gradient-2);
    border-radius: 3px 0 0 0;
}

.heading__li{
    border-radius: 0 0 0 3px;
}


section{
    margin: 0 auto;
    padding:0 0 30px 0;
}



.img_container{
    text-align: center;
    position: relative;
}

.profile_pic{
    border-radius: 50%;
    max-width: 20%;
    margin: auto;
    display: block;
    border: .2rem solid var(--color-back);
}


li {
    padding: 7px 9px;
    text-align: left;
    font-family: var(--font-text);
    font-size: 1.1rem;
    list-style-type: none;
    border-radius: 3px;
}

li:nth-child(odd) {
    background: var(--color-gradient-3);
    padding: auto;
    list-style-position: inside;
}

li:nth-child(even) {
    padding: auto;
    list-style-position: inside;
}

.portfolio{
    border-radius: 3px 0 0 0;
}


.portfolio_image{
    max-width: 100%;
    border-radius: 0 3px 3px 3px;
    z-index: 1;
}


.linking{
    bottom: .7rem;
    left: .5rem;
    position: absolute;
    z-index: 2;
}

.linking-bottom{
    bottom: .3rem;
    left: .32rem;
    position: absolute;
    z-index: 2;
}

.flex-container{
    display: flex;
    width: 100%;
    transform: translateY(35px);  
}

.flex-child{
    width: 100%;
    height:100%;
    border-radius: 3px 3px 3px 3px;
}


.inline-h{
    display: inline;   
}



.bottomback{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}


.bottom{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    padding: 15% 0;
}


.color-link{
    filter: invert(100%);
    width: 1.25rem;
    align-self: center;
    padding-top: 3px;   
}

.color-link-b {
    /* filter: invert(100%); */
    width: 1.25rem;
    align-self: center;
    padding-top: 3px;
}

.mail a, .portfolio a, .linkedin a{
    text-decoration: none;
}



li.mail p{
    display: inline;
    text-decoration: none; 
    /* color: var(--color-mail); */
    position: absolute;
    transform: translate(.5rem,.15rem);
}

li.linkedin p {
    display: inline;
    text-decoration: none; 
    /* color: var(--color-linkedin); */
    position: absolute;
    transform: translate(.5rem,.2rem);
}

li.portfolio p {
    display: inline;
    text-decoration: none; 
    /* color: var(--color-linkedin); */
    position: absolute;
    transform: translate(.5rem,0);
}



footer h4 { 
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    padding: 15% 0;
    filter: invert(100%);
    width: 5%;
    text-decoration: none; 
    color: var(--color-linkedin);
    margin: 0 auto;
}

.rights-t{
    text-align: center;
    color: var(--color-1);
    font-family: var(--font-text);
    font-size: .65rem;
    font-weight: 100;
    background: var(--color-2);
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.rights-end{
    text-align: center;
    color: var(--color-1);
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: 100;
    /* background: var(--color-2); */
    
    /* background: var(--color-2); */
    /* display: inline-block; */
    width: 100%;
    /* padding: 0 0 12px 0; */
    /* padding: 25px; */
    /* padding: 12px 0 12px 0; */
    border-radius: 3px;
    /* text-transform: uppercase; */
    /* text-shadow: var(--color-back) 0 0 3px; */
}


.rights-end-b{
    text-align: center;
    color: var(--color-1);
    font-family: var(--font-text);
    font-size: .7rem;
    font-weight: 100;
    /* background: var(--color-2); */
    
    /* background: var(--color-2); */
    /* display: inline-block; */
    width: 100%;
    /* padding: 0 0 12px 0; */
    /* padding: 25px; */
    /* padding: 12px 0 12px 0; */
    border-radius: 3px;
    /* text-transform: uppercase; */
    /* text-shadow: var(--color-back) 0 0 3px; */
}


.rights-b{
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: var(--color-1);
    font-family: var(--font-text);
    font-size: .60rem;
    font-weight: 100;
    /* background: var(--color-gradient-3); */
    /* background-color: var(--color-selection); */
    /* background-color: var(--color-2); */
    display: inline-block;
    width: 99%;
    padding: 5px 5px;
    border-radius: 3px;
    /* transform: translatey(-80%); */
}

.bottom-arrowup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.img-bottom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 3px; 
}


/* width */
::-webkit-scrollbar {
    width: 4px;

  }
  
  /* Track */

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-selection); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-1); 
  }


  ::-webkit-scrollbar-button {
    background-color: var(--color-back);
  }




@media only screen and (orientation: portrait) {
    body {
        max-width: 90%;
    }

    header p{
        font-size: .84rem;
    }
    
    h1{
        font-size: 1.1rem;
    }
  }


